<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order!</h1>
    <p>
      You have successfully placed an order with Jungle.com. Your order ID is <%= @order.id %>. 
    </p>
    <p>
      Here are your order details.
    </p>
     <table align="left" border="1">
      <thead align="left">
        <tr align="left">
          <th align="right">Product</th>
          <th align="center">Unit Price</th>
          <th align="center">Quantity</th>
          <th align="center">Price</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items.each do |line_item| %>
          <% if product = Product.find_by(id: line_item.product_id) %>
            <tr>
              <td>
                <h4><%= product.name %></h4>
                <br>
                <p><%= product.description %></p>
              </td>
              <td align="center">
                <%= number_to_currency (product.price) %>
              </td>
              <td align="center">
                <%= line_item.quantity %>
              </td>
              <td align="center">
                <%= number_to_currency ((line_item.total_price_cents.to_f)/100) %>
              </td>
          </tr>
        <% end %>
      <%end%>
      </tbody>
      <tfoot>
        <tr align="left">
          <th colspan="3" align="right">
            TOTAL:
          </th>
          <th>
            <%= number_to_currency ((@order.total_cents.to_f)/100) %>
          </th>
        </tr>
      </tfoot>
    </table>
    <p>Thanks for ordering with us and have a great day!</p>
  </body>
</html>