<article class="product">
  <%  reviews_list = @reviews.where(product_id: product.id) %>
  <% if product.quantity == 0  %>
    <aside class="soldout">
      SOLD OUT!
    </aside>
  <% end %>
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <% if reviews_list.length>0 %>
    <% total_rating = 0 %>
    <% reviews_list.each do |review| %>
    <% total_rating += review.rating %>
    <% end %>
    <% overall_rating = (total_rating.to_f / reviews_list.length.to_f).round %>
      <p class ="description">
        <i style="color: tomato">Overall Rating: <%= overall_rating %></i>
      </p>
  <% end %>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
