<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <% if @reviews.length!=0 %>
            <dt>Reviews</dt>
            <% @reviews.each do |review| %>
              <dd><i>Rating: <%= review.rating %></i></dd>
              <dd><%= review.description %></dd>
              <dd><hr style="margin-top: 5px; margin-bottom: 5px"></dd>
            <% end %>
          <% end %>
          <% if current_user %>
            <dt>Write a reivew</dt>
            <%= form_for [@product, @review], method: :post do |f| %>
              <dd>
              <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]) %>
              </dd>
              <br>
              <dd><%= f.text_area :description, class: 'form-control' %></dd>
              <br>
              <dd><%= f.submit 'Submit Review', class: 'btn btn-primary' %></dd>
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>

  </article>

</section>
